<div class="container">
  <div class="row">
    <div class="col-10 offset-1">

      <h3 class="text-center my-4 pb-4 fw-bolder border-bottom border-gray">プライバシーポリシー</h3>
        <p>AutoDo（以下，「当局」といいます。）が提供するサービス（以下，「本サービス」といいます。）における，ユーザーの個人情報の取扱いについて，以下のとおりプライバシーポリシー（以下，「本ポリシー」といいます。）を定めます。</p>

      <h5 class="mt-4 fw-bolder">第1条（お客様から取得する情報）</h5>
        <p> 当局は，お客様から以下の情報を取得します。</p>
        <ul>
          <li>外部サービスでお客様が利用するID，その他外部サービスのプライバシー設定によりお客様が連携先に開示を認めた情報</li>
          <li>Cookie(クッキー)を用いて生成された識別情報</li>
          <li>当局ウェブサイトの滞在時間，入力履歴，購買履歴等の当局ウェブサイトにおけるお客様の行動履歴</li>
        </ul>

      <h5 class="mt-4 fw-bolder">第2条（個人情報を収集・利用する目的）</h5>
        <p> 当局は，お客様から取得した情報を，以下の目的のために利用します。</p>
        <ul>
          <li>当局サービスに関する登録の受付，お客様の本人確認，認証のため</li>
          <li>お客様の当局サービスの利用履歴を管理するため</li>
          <li>当局サービスにおけるお客様の行動履歴を分析し，当局サービスの維持改善に役立てるため</li>
          <li>当局のサービスに関するご案内をするため</li>
          <li>お客様からのお問い合わせに対応するため</li>
          <li>当局の規約や法令に違反する行為に対応するため</li>
          <li>当局サービスの変更，提供中止，終了，契約解除をご連絡するため</li>
          <li>当局規約の変更等を通知するため</li>
          <li>以上の他，当局サービスの提供，維持，保護及び改善のため</li>
        </ul>

      <h5 class="mt-4 fw-bolder">第3条（安全管理のために講じた措置）</h5>
        <p> 当局が，お客様から取得した情報に関して安全管理のために講じた措置につきましては，末尾記載のお問い合わせ先にご連絡をいただきましたら，法令の定めに従い個別にご回答させていただきます。</p>

      <h5 class="mt-4 fw-bolder">第4条（第三者提供）</h5>
        <p> 当局は，お客様から取得する情報のうち，個人データ（個人情報保護法第１６条第３項）に該当するものついては，あらかじめお客様の同意を得ずに，第三者（日本国外にある者を含みます。）に提供しません</p>

      <h5 class="mt-4 fw-bolder">第5条（アクセス解析ツール）</h5>
        <p>お客様からお預かりした個人情報を，個人情報保護法その他の法令に基づき開示が認められる場合を除き，お客様ご本人の同意を得ずに第三者に提供することはありません。</p>

      <h5 class="mt-4 fw-bolder">第6条（プライバシーポリシーの変更）</h5>
        <p>当局は，必要に応じて，このプライバシーポリシーの内容を変更します。内容の変更は，当サイトに掲載された時点で有効になるものとします。</p>

      <h5 class="mt-4 fw-bolder">第7条（お問い合わせ）</h5>
        <p>本ポリシーに関するお問い合わせは，<%= link_to 'こちら', 'https://forms.gle/1mFNvikN1iijaY4X6', class: 'link-color' %>よりお願いいたします。</p>

      <p class="text-end">以上</p>
    </div>
  </div>
</div>
