<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h1 class="text-4xl font mt-4">プロフィール登録</h1>
        <%= render 'form' , profile: @profile %>
    </div>
  </div>
</div>
