<div class="container">
  <div class="row">
    <div class="col-10 offset-1">
      <h1 class="text-4xl font my-4">プロフィール登録</h1>
        <%= render 'form' , profile: @profile %>
    </div>
  </div>
</div>
