<div class="container">
  <div class="row">
    <%= image_tag '1517706953.png', class: 'd-block mx-auto img-fluid', size: '480' %>
    <div class="text-center">
      <p>now loading...</p>
      <p>※時間のかかる場合がございます。</p>
    </div>
    <%= javascript_include_tag "new", "data-turbo-track": "reload", defer: true %>
  </div>
</div>
