<div class="container">
  <div class="jumbotron">
    <h1 class="p-3 mb-2 bg-danger text-white">ユーザー新規登録</h1>
    <p>Loading・・・</p>
    <p>※時間がかかることがございます。</p>
    <%= javascript_include_tag "new", "data-turbo-track": "reload", defer: true %>
  </div>
</div>
