.header-set {
  background-color: #E9E3D7;
}

.alert-text {
  color: #CA7D78;
}

.alert-success-custom {
  background-color: rgba(123, 154, 165, 0.5);
}

.alert-danger-custom {
  background-color: rgba(202, 125, 120, 0.5);
}

.alert-alert-custom {
  background-color: rgba(202, 125, 120, 0.5);
}

.btn-color {
  background: #7B9AA5;
  border: 2px solid #7B9AA5;
}

.btn-alert-color {
  background: #CA7D78;
  border: 2px solid #CA7D78;
}

.change-scene {
  background-color: #E9E3D7;
}

body {
  padding-top: 60px;
}
