.header-set {
  background-color: #E9E3D7;
}

.btn-color {
  background: #7B9AA5;
  border: 2px solid #7B9AA5;
}

.btn-alert-color {
  background: #CA7D78;
  border: 2px solid #CA7D78;
}

.change-scene {
  background-color: #E9E3D7;
}

body {
  padding-top: 60px;
}
